html,
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none !important;
}
.navbar {
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid black;
}
.navbar .navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .navbar-brand img {
  max-width: 100px;
}
.navbar .navbar-nav .nav-link {
  color: #000;
}
.navbar-text {
  font-size: 1em;
  color: grey;
  margin-bottom: 0;
}

.fa-user-plus,
.fa-heart,
.fa-cart-plus {
  color: #777;
  font-size: 1.2em;
  margin-left: 40px;
  cursor: pointer;
}

.fa-search,
.fa-user-plus:hover,
.fa-heart:hover,
.fa-cart-plus:hover {
  color: #a77f66;
  cursor: pointer;
}

/* =============================
          MEGA MENU COMMON       
  ============================= */

.mega-dropdown {
  position: static;
}

.mega-menu {
  width: 100%;
  left: 0;
  right: 0;
  border: none;
  border-radius: 0;
  padding: 40px 0;
  background: #fff;
}
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
/* Open on hover */
.mega-dropdown:hover .mega-menu {
  display: block;
}

/* Column spacing */
.mega-menu .row > div {
  padding-left: 25px;
  padding-right: 25px;
}

/* Column titles */
.mega-menu h6,
.mega-menu h5 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Links */
.mega-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu ul li {
  margin-bottom: 10px;
}

.mega-menu ul li a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  transition: 0.3s ease;
}

.mega-menu a :hover {
  color: #db8149;
}

.mega-menu .border-end {
  border-right: 1px solid #eee !important;
}
.right i,
.left i {
  color: #a77f66;
}

/* ================stripText================== */
.stripText {
  height: 45px;
  margin-top: 50px;
  border-radius: 15px;
  font-size: large;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 50px auto 0 auto;
  width: 550px;
  background-color: #d4b4a02c;
}

.timeText {
  background-color: #a77f66;
  width: 80px;
  margin-bottom: 7px;
  text-align: center;
  border-radius: 20px;
  visibility: hidden;
  color: white;
}

@media screen and (max-width: 480px) {
  .stripText {
    height: 40px;
    margin-top: 50px;
    border-radius: 15px;
    font-size: small;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 50px auto 0 auto;
    width: 400px;
    background-color: #d4b4a02c;
  }

  .timeText {
    background-color: #a77f66;
    width: 50px;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 20px;
    visibility: hidden;
    color: white;
  }
}

/* =============================
        Hero SECTION       
============================= */
.heroSwiper {
  width: 100%;
  height: 650px;
}

.swiper-slide {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.heroSwiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  /* font-family: "Marcellus", sans-serif; */
}

.hero-logo {
  width: 120px;
  margin-bottom: 25px;
}

.hero-caption h1,
.hero-caption h2 {
  font-size: 50px;
  font-weight: 600;
}

.hero-btn {
  margin-top: 20px;
  background: #a77f66;
  color: white;
  padding: 12px 35px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: black;
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  background: white;
  color: #a77f66;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.swiper-button-next i,
.swiper-button-prev i {
  width: 10px;
  height: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #a77f66;
  color: white;
}

.swiper-button-disabled {
  background: #ccc !important;
  color: #777 !important;
  cursor: not-allowed;
  opacity: 1 !important;
}

/* =============================
        DISCOUNT SECTION       
============================= */
.discount {
  margin-top: 100px;
}

.container_dis {
  gap: 50px;
  display: flex;
  position: relative;
  text-align: center;
  color: black;
  margin-left: 80px;
}

.text1 {
  position: absolute;
  top: 44%;
  left: 32%;
  transform: translate(-50%, -50%);
}
.text2 {
  position: absolute;
  top: 44%;
  left: 60%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  .container_dis {
    gap: 20px;
    display: flex;
    position: relative;
    text-align: center;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text1 {
    position: absolute;
    top: 44%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  .text2 {
    position: absolute;
    top: 44%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 576px) {
  .discount {
    margin-top: 40px;
  }
  .text1 h1,
  .text1 p,
  .text2 h1,
  .text2 p {
    font-size: small;
  }
  .hero-btn {
    width: 100px;
    height: 40px;
    font-size: small;
  }

  .text2 {
    position: absolute;
    top: 44%;
    left: 63%;
  }
}

@media screen and (max-width: 480px) {
  .text1 h1,
  .text1 p,
  .text2 h1,
  .text2 p {
    font-size: smaller;
  }
  .hero-btn {
    width: 100px;
    height: 40px;
    font-size: small;
  }

  .text2 {
    position: absolute;
    top: 44%;
    left: 67%;
  }
}

/* ============================= */
/*        POPULAR CATEGORY       */
/* ============================= */

.category {
  margin: 100px auto 20px auto; /* centered */
  text-align: center;
  position: relative;
}

.category img {
  width: 100%;
  max-width: 400px; /* desktop max size */
  height: auto; /* responsive height */
  transition: 0.3s ease;
}

.category img:hover {
  opacity: 0.7;
  transform: scale(1.03);
}

/* Overlay Box */
.category .i_dis {
  background-color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  width: 70%;
  padding: 15px;
  border-radius: 10px;
}

.i_dis p {
  color: #777;
  margin-bottom: 10px;
}

.category .i_dis a {
  padding: 8px 18px;
  color: #777;
  text-decoration: underline;
  transition: 0.3s;
}

/* ============================= */
/*     PRODUCT SWIPER COMMON     */
/* ============================= */

.productSwiper {
  width: 100%;
}

.product-card img {
  border: 1px solid #eee;
  padding: 15px;
  transition: 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.05);
}

.product-card p {
  font-size: 14px;
  color: #777;
}

@media screen and (max-width: 1200px) {
  .category {
    margin-top: 50px;
  }

  .category img {
    max-width: 320px;
  }

  .category .i_dis {
    width: 60%;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .category {
    margin-top: 30px;
  }

  .category img {
    max-width: 260px;
  }

  .category .i_dis {
    top: 50%;
    width: 85%;
  }
}

@media screen and (max-width: 576px) {
  .category img {
    max-width: 220px;
  }

  .category .i_dis {
    width: 70%;
    padding: 8px;
  }
}

/* ======================== Facility ==================== */

.facility {
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.578);
  padding: 20px 20px;
}

.listFacility {
  display: flex;
  align-items: center;
  gap: 5px;
}

.listFacility .border-end {
  border-right: 5px solid black !important;
}

.listFacility i {
  font-size: xx-large;
  color: #a77f66;
  transition: transform 0.6s ease;
}

.listFacility:hover i {
  transform: rotateY(180deg);
}

@media screen and (max-width: 576px) {
  .facility {
    width: 90%;
    padding: 20px 20px;
  }

  .listFacility {
    font-size: small;
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .facility {
    padding: 20px 20px;
  }

  .listFacility {
    display: inline;
    font-size: small;
    gap: 20px;
  }
}
